
<div>
  <div *ngIf="customer">
    <div><b>ID:</b> {{customer._id}}</div>
    <div><b>Cliente:</b> {{customer.name}} {{customer.lastname}}</div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="col">Calle</th>
        <th class="col">Número</th>
        <th class="col">Sector</th>
        <th class="col">Provincia</th>
        <th class="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of customerAddresses">
        <td>{{address.street}}</td>
        <td>{{address.number}}</td>
        <td>{{address.sector}}</td>
        <td>{{address.province}}</td>
        <td class="delete-address-icon"><i class="bi bi-trash-fill text-danger" (click)="removeAddress(address._id)"></i></td>
      </tr>
    </tbody>
  </table>

  <span (click)="addCustomerAddress()">
    <i class="fas fa-plus-circle fa-2x add-address-icon"></i>
  </span>
</div>
